# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'tuesday'
    open-pull-requests-limit: 999
  - package-ecosystem: 'docker'
    directories:
      - '/.devcontainer'
    schedule:
      interval: 'weekly'
      day: 'tuesday'
    open-pull-requests-limit: 999
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'tuesday'
    open-pull-requests-limit: 999
    groups:
      artifacts:
        patterns:
          - 'actions/*-artifact'
      caches:
        patterns:
          - 'actions/cache'
          - 'actions/cache/*'
      ci-cd:
        patterns:
          - 'changesets/*'
          - 'dependabot/*'
          - 'actions/create-github-app-token'
      sast:
        patterns:
          - 'github/codeql-*'
          - 'actions/dependency-review-action'
          - 'step-security/*'
          - 'microsoft/security-devops-action'
          - 'microsoft/DevSkim-Action'
          - 'ossf/*'
      setup:
        patterns:
          - 'actions/checkout'
          - 'actions/setup-*'
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'tuesday'
    cooldown:
      semver-major-days: 30
    versioning-strategy: increase
    open-pull-requests-limit: 999
    ignore:
      # Lock to LTS
      - dependency-name: '@types/node'
        versions:
          - '>=25.0.0'
      # Block temporarily
      - dependency-name: 'ai'
        versions:
          - '>=6.0.0'
    groups:
      ai:
        patterns:
          - 'ai'
          - '@ai-sdk/*'
          - 'openai'
          - 'workers-ai-provider'
          - '@cloudflare/ai*'
          - '@azure/arm-cognitiveservices'
          - '@azure/arm-resources-subscriptions'
          - '@azure/identity'
          - 'deepmerge'
      cloudflare:
        patterns:
          - 'cloudflare'
          - '@cloudflare/*'
        exclude-patterns:
          - '@cloudflare/ai*'
          - '@cloudflare/workers-types'
      code-management:
        patterns:
          - 'prettier'
          - 'prettier-plugin-*'
          - '@demosjarco/prettier-config'
          - 'eslint'
          - 'eslint-plugin-*'
          - '@eslint/*'
          - 'typescript-eslint'
      monorepo-management:
        patterns:
          - 'lerna'
          - '@changesets/*'
      typescript-core:
        patterns:
          - 'typescript'
          - 'tsx'
      typescript-types:
        patterns:
          - '@types/*'
          - '@cloudflare/workers-types'
          - '@builder.io/qwik-city'
          - 'wrangler'
      validation:
        patterns:
          - 'zod'
          - 'validator'
