name: Azure Ai Catalog

on:
  push:
    paths:
      - '.github/workflows/azure-catalog.yml'
      - 'ciScripts/azure-catalog.mts'
      - 'packages/types/src/ai-tools/azure/catalog.ts'
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  azure:
    runs-on: ubuntu-latest
    if: github.actor != 'sushidata-azure[bot]'
    permissions:
      contents: write
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: gh_azure_token
        with:
          app-id: ${{ vars.GH_AZURE_CLIENT_ID }}
          private-key: ${{ secrets.GH_AZURE_PRIVATE_KEY }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.gh_azure_token.outputs.token }}
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
      - run: npm ci --ignore-scripts --include-workspace-root
      - run: npm  --include-workspace-root run-script install --if-present
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            packages/*/.tsbuildinfo
            packages/*/dist
          key: tsc-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
          enableCrossOsArchive: true
      - run: npm -w @chainfuse/types run build
      - run: npm run ci:catalog:azure
        env:
          AZURE_SUB_ID: ${{ secrets.AZURE_SUB_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      - run: npx prettier --write packages/types/src/ai-tools/azure/catalog.ts
      - name: Git Setup
        run: |
          git config user.name "${{ steps.gh_azure_token.outputs.app-slug }}[bot]"
          git config user.email "${{ vars.GH_AZURE_USER_ID }}+${{ steps.gh_azure_token.outputs.app-slug }}[bot]@users.noreply.github.com"
      - run: git add packages/types/src/ai-tools/azure/catalog.ts
      - run: git commit -m "Updated azure catalog" || echo "catalog not touched"
      - run: git push
