name: Azure Ai Catalog

on:
  push:
    paths:
      - '.github/workflows/azure-catalog.yml'
      - 'ciScripts/azure-catalog.mts'
      - 'packages/types/src/ai-tools/azure/catalog.ts'
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  azure:
    runs-on: ubuntu-latest
    if: github.actor != 'sushidata-azure[bot]'
    permissions:
      contents: write
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: gh_azure_token
        with:
          app-id: ${{ vars.GH_AZURE_CLIENT_ID }}
          private-key: ${{ secrets.GH_AZURE_PRIVATE_KEY }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.gh_azure_token.outputs.token }}
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
      - run: npm ci --ignore-scripts --include-workspace-root
      - run: npm  --include-workspace-root run-script install --if-present
      - uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            packages/*/.tsbuildinfo
            packages/*/dist
          key: tsc-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
          enableCrossOsArchive: true
      - run: npm -w @chainfuse/types run build
      - run: npm run ci:catalog:azure
        env:
          AZURE_SUB_ID: ${{ secrets.AZURE_SUB_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      - name: Git Setup
        run: |
          git config user.name "${{ steps.gh_azure_token.outputs.app-slug }}[bot]"
          git config user.email "${{ vars.GH_AZURE_USER_ID }}+${{ steps.gh_azure_token.outputs.app-slug }}[bot]@users.noreply.github.com"
      - run: git add packages/types/src/ai-tools/azure/catalog.ts
      - run: git commit -m "Updated azure catalog" || echo "catalog not touched"
      - run: git push
