name: Release
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/changeset-release.yml'
      - '.changeset/**'
      - 'packages/*/CHANGELOG.md'
      - 'packages/*/package.json'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changelog:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
          disable-sudo-and-containers: true
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-tags: true # Important to fetch all history for versioning
      - run: git config set --type=bool push.autoSetupRemote true
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci --ignore-scripts --include-workspace-root --workspaces
      - run: npm --include-workspace-root --workspaces run-script install --if-present
      - uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            packages/*/.tsbuildinfo
            packages/*/dist
          key: tsc-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
          enableCrossOsArchive: true
      - run: npm run build
      - uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            packages/*/.tsbuildinfo
            packages/*/dist
          key: tsc-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
          enableCrossOsArchive: true
      - uses: changesets/action@c48e67d110a68bc90ccf1098e9646092baacaa87 # v1.6.0
        with:
          publish: npx lerna publish from-package --yes
          createGithubReleases: true
          commitMode: github-api
        env:
          GITHUB_TOKEN: ${{ github.token }}
